<div class="container mt-4">
  <h2 class="text-center mb-4">Appointment List</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Patient Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Doctor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>
          <a
            [routerLink]="['/appointments', appointment.id]"
            class="text-decoration-none"
            >{{ appointment.id }}</a
          >
        </td>
        <td>{{ appointment.patientName }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
